.login-root {
  height: 100vh;
  display: flex;
  padding-top: 20%;
  align-items:flex-start;
  justify-content:space-between;
}

.login-paper {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: 90%;
  margin-top: 15px;
}

.login-submit {
  margin: 10px 0 12px;
}